*

!.Xresources*
!.xinitrc
!.bashrc
!.bash_profile

!.atom
!.atom/config.cson
!.atom/keymap.cson

!.config
!.config/bspwm/*
!.config/sxhkd/*
!.config/compton/*
!.config/dunst/*
!.config/cower/*
!.config/git/*
!.config/redshift.conf
!.config/user-dirs.dirs

#OTHER REPOSITORIES
!blog/*
