"*":
  "exception-reporting":
    userId: "4a448ed7-3ed0-04ac-1b30-cfe913983483"
  welcome:
    showOnStartup: false
  core:
    autoHideMenuBar: true
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
    disabledPackages: [
      "command-palette"
      "background-tips"
      "fuzzy-finder"
      "language-todo"
      "language-toml"
      "metrics"
      "welcome"
      "language-sass"
      "language-ruby-on-rails"
      "language-ruby"
      "language-go"
      "language-clojure"
      "open-on-github"
      "minimap"
    ]
    excludeVcsIgnoredPaths: false
  editor:
    invisibles: {}
    tabLength: 4
    softWrap: true
    softWrapAtPreferredLineLength: true
    scrollPastEnd: true
    showIndentGuide: true
    zoomFontWhenCtrlScrolling: false
    fontSize: 13
    fontFamily: "Hack"
  "block-cursor":
    primaryColor:
      red: 24
      green: 81
      blue: 119
      alpha: 1
    secondaryColor:
      red: 24
      green: 81
      blue: 119
      alpha: 1
    blinkInterval: 0
    global:
      blinkOff:
        borderWidth: 0
      blinkOn:
        borderWidth: 0
  "love-launcher":
    lovepath: "love"
  "highlight-line":
    enableSelectionBorder: true
    enableUnderline: true
    enableBackgroundColor: false
  minimap:
    displayMinimapOnLeft: true
  "tree-view": {}
  "git-diff": {}
  whitespace:
    removeTrailingWhitespace: false
  "one-dark-ui":
    layoutMode: "Compact"
  "autocomplete-plus":
    fileBlacklist: [
      "*.md"
    ]
  "character-table":
    mnemonicAllowReversed: false
  "spell-check": {}
".lua.source":
  editor:
    preferredLineLength: 90
